workflows/nail-salon-automation.json
{
  "name": "SmartDesk AI — Nail Salon Automation ($799/mo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nail-salon-inquiry",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_entry",
      "name": "📥 Client Inquiry (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 100],
      "notes": "Receives messages from Google, Facebook, Instagram, or Messenger via Meta API or Zapier bridge."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if_wait_reply",
      "name": "⏳ Wait for Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $vars.AI_AGENT_ACTIVE }}",
              "value2": "true",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "if_ai_available",
      "name": "🤖 AI Agent Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 60]
    },
    {
      "parameters": {
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.RETELL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "agent_d4e806f2be5ef25d5ea61c17de"
            },
            {
              "name": "from_number",
              "value": "={{ $vars.TWILIO_FROM_NUMBER }}"
            },
            {
              "name": "to_number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({ client_name: $json.name, source: $json.source }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "retell_call",
      "name": "🎙️ AI Agent Calls & Books (Retell AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, -40],
      "notes": "Replace agent_id with your Retell AI agent. Uses Twilio number."
    },
    {
      "parameters": {
        "channel": "#nail-salon-leads",
        "text": "📌 *New Manual Reply Needed!*\n\nClient: {{ $json.name }}\nPhone: {{ $json.phone }}\nMessage: {{ $json.message }}\nSource: {{ $json.source }}\n\nAI Agent is unavailable — please reply manually.",
        "otherOptions": {}
      },
      "id": "slack_staff_alert",
      "name": "📣 Alert Staff (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [900, 180],
      "notes": "Sends Slack alert to staff when AI is unavailable. Replace with SMS if preferred."
    },
    {
      "parameters": {
        "operation": "create",
        "baseId": "={{ $vars.AIRTABLE_BASE_ID }}",
        "tableId": "NailSalonClients",
        "fields": {
          "fieldMappings": [
            { "fieldId": "Name", "fieldValue": "={{ $('📥 Client Inquiry (Webhook)').item.json.name }}" },
            { "fieldId": "Phone", "fieldValue": "={{ $('📥 Client Inquiry (Webhook)').item.json.phone }}" },
            { "fieldId": "Email", "fieldValue": "={{ $('📥 Client Inquiry (Webhook)').item.json.email }}" },
            { "fieldId": "Source", "fieldValue": "={{ $('📥 Client Inquiry (Webhook)').item.json.source }}" },
            { "fieldId": "Status", "fieldValue": "Inquiry Received" },
            { "fieldId": "Created At", "fieldValue": "={{ $now }}" },
            { "fieldId": "Assigned Stylist", "fieldValue": "={{ $vars.DEFAULT_STYLIST }}" }
          ]
        }
      },
      "id": "airtable_crm",
      "name": "📋 Add to CRM (Airtable)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1120, 60],
      "notes": "Adds client to Airtable CRM. Set AIRTABLE_BASE_ID in n8n variables."
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "crm_record_id", "value": "={{ $json.id }}" },
            { "name": "name",           "value": "={{ $('📥 Client Inquiry (Webhook)').item.json.name }}" },
            { "name": "phone",          "value": "={{ $('📥 Client Inquiry (Webhook)').item.json.phone }}" },
            { "name": "email",          "value": "={{ $('📥 Client Inquiry (Webhook)').item.json.email }}" },
            { "name": "source",         "value": "={{ $('📥 Client Inquiry (Webhook)').item.json.source }}" },
            { "name": "appointment_confirmed", "value": "={{ $('📥 Client Inquiry (Webhook)').item.json.appointment_confirmed }}" }
          ]
        },
        "options": { "keepOnlySet": true }
      },
      "id": "set_crm_id",
      "name": "🗃️ Capture CRM ID + Restore Client Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1340, 60],
      "notes": "Captures Airtable record ID and merges back original webhook fields so downstream nodes can use $json.phone, $json.name, $json.crm_record_id reliably."
    },
    {
      "parameters": {
        "fromEmail": "noreply@nailsalon.com",
        "toEmail": "={{ $vars.STYLIST_EMAIL }}",
        "subject": "🔔 New Appointment Request — {{ $json.name }}",
        "emailFormat": "html",
        "message": "<h2>New Client Inquiry</h2><p><b>Name:</b> {{ $json.name }}<br><b>Phone:</b> {{ $json.phone }}<br><b>Email:</b> {{ $json.email }}<br><b>Source:</b> {{ $json.source }}</p><p>Please confirm the appointment in Airtable.</p>"
      },
      "id": "email_stylist",
      "name": "📧 Notify Stylist (Email)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1560, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.appointment_confirmed }}",
              "value2": "true",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "if_appt_confirmed",
      "name": "✅ Appointment Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 200],
      "notes": "appointment_confirmed is set by the Set node and comes from the original webhook payload — reliable even after Airtable/email nodes."
    },
    {
      "parameters": {
        "unit": "hours",
        "amount": 24
      },
      "id": "wait_24h",
      "name": "⏱️ Wait 24 Hours Before Appt",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1780, 120],
      "notes": "Waits 24 hours before sending the reminder SMS."
    },
    {
      "parameters": {
        "accountSid": "={{ $vars.TWILIO_ACCOUNT_SID }}",
        "authToken": "={{ $vars.TWILIO_AUTH_TOKEN }}",
        "from": "={{ $vars.TWILIO_FROM_NUMBER }}",
        "to": "={{ $json.phone }}",
        "message": "Hi {{ $json.name }}! 💅 This is a reminder for your nail appointment tomorrow. Reply CONFIRM to confirm or CANCEL to reschedule. — Nail Salon Team"
      },
      "id": "twilio_reminder",
      "name": "📱 24hr Reminder (Twilio SMS)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [2000, 120],
      "notes": "After this SMS is sent, the flow pauses. Continuation is handled by the Inbound SMS Reply webhook below when the client replies CONFIRM or CANCEL."
    },
    {
      "parameters": {
        "accountSid": "={{ $vars.TWILIO_ACCOUNT_SID }}",
        "authToken": "={{ $vars.TWILIO_AUTH_TOKEN }}",
        "from": "={{ $vars.TWILIO_FROM_NUMBER }}",
        "to": "={{ $json.phone }}",
        "message": "Hi {{ $json.name }}, we noticed you couldn't make your appointment. No worries! Click here to reschedule: {{ $vars.BOOKING_LINK }} — Nail Salon Team"
      },
      "id": "twilio_reschedule",
      "name": "🔄 Reschedule / Cancel SMS (Twilio)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1780, 360],
      "notes": "Sent when appointment was NOT confirmed by the stylist, or when the client replies CANCEL to the reminder."
    },
    {
      "parameters": {
        "operation": "update",
        "baseId": "={{ $vars.AIRTABLE_BASE_ID }}",
        "tableId": "NailSalonClients",
        "id": "={{ $json.crm_record_id }}",
        "fields": {
          "fieldMappings": [
            { "fieldId": "Status", "fieldValue": "Rescheduled" }
          ]
        }
      },
      "id": "airtable_update_reschedule",
      "name": "📋 Update CRM — Rescheduled",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [2000, 360]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-sms-reply",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook_sms_reply",
      "name": "📲 Inbound SMS Reply (Twilio Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 600],
      "notes": "Configure this URL as the 'A message comes in' webhook in your Twilio phone number settings. Twilio sends From, To, Body fields as form-encoded POST."
    },
    {
      "parameters": {
        "operation": "list",
        "baseId": "={{ $vars.AIRTABLE_BASE_ID }}",
        "tableId": "NailSalonClients",
        "returnAll": false,
        "limit": 1,
        "filterByFormula": "={{ `{Phone}='${$json.From}'` }}"
      },
      "id": "airtable_lookup_client",
      "name": "🔍 Lookup Client by Phone (Airtable)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [460, 600],
      "notes": "Finds the Airtable record for the client who just replied, using their phone number."
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "crm_record_id", "value": "={{ $json.id }}" },
            { "name": "name",          "value": "={{ $json.fields.Name }}" },
            { "name": "phone",         "value": "={{ $json.fields.Phone }}" },
            { "name": "reply",         "value": "={{ $('📲 Inbound SMS Reply (Twilio Webhook)').item.json.Body.trim().toUpperCase() }}" }
          ]
        },
        "options": { "keepOnlySet": true }
      },
      "id": "set_sms_context",
      "name": "🗃️ Merge SMS Reply + Client Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 600],
      "notes": "Merges the client's reply text (CONFIRM/CANCEL) with the Airtable record data so downstream nodes have both."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.reply }}",
              "value2": "CONFIRM",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "if_sms_confirm",
      "name": "📲 Client Replied CONFIRM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 600]
    },
    {
      "parameters": {
        "operation": "update",
        "baseId": "={{ $vars.AIRTABLE_BASE_ID }}",
        "tableId": "NailSalonClients",
        "id": "={{ $json.crm_record_id }}",
        "fields": {
          "fieldMappings": [
            { "fieldId": "Status", "fieldValue": "Service Completed" },
            { "fieldId": "Service Date", "fieldValue": "={{ $now }}" }
          ]
        }
      },
      "id": "airtable_service_complete",
      "name": "💅 Service Provided — Update CRM",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "unit": "hours",
        "amount": 2
      },
      "id": "wait_post_service",
      "name": "⏱️ Wait 2hr Post-Service",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "accountSid": "={{ $vars.TWILIO_ACCOUNT_SID }}",
        "authToken": "={{ $vars.TWILIO_AUTH_TOKEN }}",
        "from": "={{ $vars.TWILIO_FROM_NUMBER }}",
        "to": "={{ $json.phone }}",
        "message": "Hi {{ $json.name }}! 💅 We hope you loved your nails! We'd be so grateful if you left us a quick Google review: {{ $vars.GOOGLE_REVIEW_LINK }} — Nail Salon Team 💛"
      },
      "id": "twilio_review_request",
      "name": "⭐ Request Google Review (Twilio)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 3
      },
      "id": "wait_review_days",
      "name": "⏱️ Wait 3 Days (Review Window)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1780, 500],
      "notes": "Waits 3 days after the review request, then sends the loyalty offer regardless. Detecting an actual Google review submission requires a Google My Business webhook outside of this workflow."
    },
    {
      "parameters": {
        "accountSid": "={{ $vars.TWILIO_ACCOUNT_SID }}",
        "authToken": "={{ $vars.TWILIO_AUTH_TOKEN }}",
        "from": "={{ $vars.TWILIO_FROM_NUMBER }}",
        "to": "={{ $json.phone }}",
        "message": "Thank you so much {{ $json.name }}! 🙏 We hope you loved your nails. As a thank-you for being our client, here's 10% off your next visit: {{ $vars.LOYALTY_CODE }} — See you soon! 💅"
      },
      "id": "twilio_loyalty",
      "name": "🎁 Loyalty Offer (Twilio)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [2000, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"received\", \"message\": \"Thank you! We'll be in touch shortly.\" }"
      },
      "id": "webhook_response",
      "name": "✅ Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 300]
    }
  ],
  "connections": {
    "📥 Client Inquiry (Webhook)": {
      "main": [[{ "node": "⏳ Wait for Reply?", "type": "main", "index": 0 }]]
    },
    "⏳ Wait for Reply?": {
      "main": [
        [{ "node": "🤖 AI Agent Available?", "type": "main", "index": 0 }],
        [{ "node": "✅ Webhook Response", "type": "main", "index": 0 }]
      ]
    },
    "🤖 AI Agent Available?": {
      "main": [
        [{ "node": "🎙️ AI Agent Calls & Books (Retell AI)", "type": "main", "index": 0 }],
        [{ "node": "📣 Alert Staff (Slack)", "type": "main", "index": 0 }]
      ]
    },
    "🎙️ AI Agent Calls & Books (Retell AI)": {
      "main": [[{ "node": "📋 Add to CRM (Airtable)", "type": "main", "index": 0 }]]
    },
    "📣 Alert Staff (Slack)": {
      "main": [[{ "node": "📋 Add to CRM (Airtable)", "type": "main", "index": 0 }]]
    },
    "📋 Add to CRM (Airtable)": {
      "main": [[{ "node": "🗃️ Capture CRM ID + Restore Client Data", "type": "main", "index": 0 }]]
    },
    "🗃️ Capture CRM ID + Restore Client Data": {
      "main": [
        [{ "node": "📧 Notify Stylist (Email)", "type": "main", "index": 0 }],
        [{ "node": "✅ Appointment Confirmed?", "type": "main", "index": 0 }]
      ]
    },
    "📧 Notify Stylist (Email)": {
      "main": []
    },
    "✅ Appointment Confirmed?": {
      "main": [
        [{ "node": "⏱️ Wait 24 Hours Before Appt", "type": "main", "index": 0 }],
        [{ "node": "🔄 Reschedule / Cancel SMS (Twilio)", "type": "main", "index": 0 }]
      ]
    },
    "⏱️ Wait 24 Hours Before Appt": {
      "main": [[{ "node": "📱 24hr Reminder (Twilio SMS)", "type": "main", "index": 0 }]]
    },
    "📱 24hr Reminder (Twilio SMS)": {
      "main": []
    },
    "🔄 Reschedule / Cancel SMS (Twilio)": {
      "main": [[{ "node": "📋 Update CRM — Rescheduled", "type": "main", "index": 0 }]]
    },

    "📲 Inbound SMS Reply (Twilio Webhook)": {
      "main": [[{ "node": "🔍 Lookup Client by Phone (Airtable)", "type": "main", "index": 0 }]]
    },
    "🔍 Lookup Client by Phone (Airtable)": {
      "main": [[{ "node": "🗃️ Merge SMS Reply + Client Data", "type": "main", "index": 0 }]]
    },
    "🗃️ Merge SMS Reply + Client Data": {
      "main": [[{ "node": "📲 Client Replied CONFIRM?", "type": "main", "index": 0 }]]
    },
    "📲 Client Replied CONFIRM?": {
      "main": [
        [{ "node": "💅 Service Provided — Update CRM", "type": "main", "index": 0 }],
        [{ "node": "🔄 Reschedule / Cancel SMS (Twilio)", "type": "main", "index": 0 }]
      ]
    },
    "💅 Service Provided — Update CRM": {
      "main": [[{ "node": "⏱️ Wait 2hr Post-Service", "type": "main", "index": 0 }]]
    },
    "⏱️ Wait 2hr Post-Service": {
      "main": [[{ "node": "⭐ Request Google Review (Twilio)", "type": "main", "index": 0 }]]
    },
    "⭐ Request Google Review (Twilio)": {
      "main": [[{ "node": "⏱️ Wait 3 Days (Review Window)", "type": "main", "index": 0 }]]
    },
    "⏱️ Wait 3 Days (Review Window)": {
      "main": [[{ "node": "🎁 Loyalty Offer (Twilio)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "smartdesk-ai-nail-salon"
  },
  "pinData": {},
  "versionId": "1.1.0",
  "triggerCount": 2,
  "tags": [
    { "name": "SmartDesk AI" },
    { "name": "Nail Salon" },
    { "name": "Automation" },
    { "name": "Voice Agent" }
  ],
  "__readme__": {
    "title": "SmartDesk AI — Nail Salon Automation Workflow",
    "price": "$799/month",
    "variables_required": [
      "RETELL_API_KEY — Your Retell AI API key",
      "TWILIO_ACCOUNT_SID — Twilio account SID",
      "TWILIO_AUTH_TOKEN — Twilio auth token",
      "TWILIO_FROM_NUMBER — Your Twilio phone number (e.g. +15315416041)",
      "AIRTABLE_BASE_ID — Your Airtable base ID for nail salon CRM",
      "STYLIST_EMAIL — Email of the default stylist to notify",
      "DEFAULT_STYLIST — Name of default stylist",
      "BOOKING_LINK — Public booking link (Calendly or similar)",
      "GOOGLE_REVIEW_LINK — Google Maps review link for the salon",
      "LOYALTY_CODE — Discount code for returning clients",
      "AI_AGENT_ACTIVE — Set to 'true' when AI agent is live"
    ],
    "setup_steps": [
      "1. Import this JSON into n8n",
      "2. Set all variables under Settings > Variables",
      "3. Configure Airtable credentials (OAuth or API key)",
      "4. Configure Twilio credentials",
      "5. Configure Slack credentials (or replace with Twilio SMS)",
      "6. Set your Retell AI agent_id (current: agent_d4e806f2be5ef25d5ea61c17de)",
      "7. In Twilio console, set the 'A message comes in' webhook for your phone number to: https://<your-n8n-host>/webhook/twilio-sms-reply",
      "8. Create inquiry webhook trigger in Meta Business Suite or Zapier pointing to: https://<your-n8n-host>/webhook/nail-salon-inquiry",
      "9. Activate workflow and test with a sample inquiry"
    ],
    "architecture_notes": [
      "Two webhook triggers: nail-salon-inquiry (intake) and twilio-sms-reply (CONFIRM/CANCEL replies).",
      "A Set node after Airtable create captures the record ID and restores original client fields so all downstream nodes can reference $json.name, $json.phone, $json.crm_record_id reliably.",
      "Client CONFIRM/CANCEL replies are handled by the inbound SMS webhook, not by polling after the reminder send.",
      "The loyalty offer fires 3 days after the review request — detecting an actual Google review requires a Google My Business webhook outside this workflow."
    ]
  }
}
